{% extends 'member/member_base.html' %}
{% block title %}股Day-私人訊息{% endblock %}
{% block additional_content %}
{% load static %}

<link href="{% static 'css/member_message.css' %}" rel="stylesheet" type="text/css" media="all" />
<div class=" member_main_member_databydb">
    <a class="member_private_message_web_title">我的私訊</a>
    <div class="data_not_message">目前沒有任何訊息</div>
    <div class="base_load_gif_member_message">
        <img src="{% static 'gif/ajax-loader2.gif' %}">
    </div>
    <div class="member_private_message">
        <!-- <div class="member_private_message_load">
            <div class="member_private_img"><img src="img/unknown.png" alt=" ">
            </div>
            <div class="member_private_message_box ">
                <div class="private_message_name ">Hao</div>
                <div class="message_date ">2021-07-09 17:00:50</div>
                <div class="private_message_text ">妳好漂亮</div>
                <div class="message_date ">2021-07-09 17:00:50</div>
                <div class="private_message_text ">妳好漂亮</div>
                <div class="message_date ">2021-07-09 17:00:50</div>
                <div class="private_message_text ">妳好漂亮</div>
            </div>
        </div> -->
    </div>

    <a class="member_private_message_web_title contact">網站訊息</a>
    <div class="data_not_message contact">目前沒有任何訊息</div>
    <div class="base_load_gif_member_message contact">
        <img src="{% static 'gif/ajax-loader2.gif' %}">
    </div>
    <div class="member_private_message contact"></div>
</div>
</div>
<script src="{% static 'js/member_private.js' %}"></script>
{% endblock %}