{% extends 'shared/base.html' %}
{% block title %}股Day-台灣50{% endblock %}
{% block content %}
{% load static %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" media="all" />
<div class="index">
    <div class="index_main">
        <h1 class="index_main_slogan top">股Day-台灣50</h1>
        <h1 class="index_main_slogan end"> Stock-Prediction、discussion</h1>
        <img class="index_main_slogan_img" src="{% static 'img/index_hi.jpg' %}" />
        <a class="index_main_slogan_a1">台灣50成份的股討論臆測。觀察各路好手的事前預測。</a>
        <a class="index_main_slogan_a1">會員之間的理性討論分析。小小降低投資股票的風險。</a>
        <div class="strat_join_member"><a href="/member_sigin" title="免費加入會員">開始體驗</a></div>
        <div class="index_main_slogan_a"><a>事前諸葛亮...我們不一樣...?</a></div>
        <hr/>
        <div class="index_main_introduce_title">站內服務導覽</div>
        <div class="index_main_introduce">
            <div class="index_main_introduce_text">會員發布討論預測：挑戰成為最佳預測人</div>
            <img src="{% static 'gif/01.gif' %}" />
        </div>
        <div class="index_main_introduce_text">討論預測結果審核：股市收盤後自動更新</div>
        <div class="predtict_result_box">
            <img class="img_predtict_win_img1" src="{% static 'img/index_win.png' %}">
            <img class="img_predtict_win_img2" src="{% static 'img/index_success.png' %}">
            <a class="predtict_result_box_text">成功～</a>
        </div>
        <div class="predtict_result_box">
            <img class="img_predtict_win_img1" src="{% static 'img/index_fail.png' %}">
            <img class="img_predtict_win_img2" src="{% static 'img/index_not_success.png' %}">
            <a class="predtict_result_box_text">失敗。</a>
        </div>
        <div class="index_main_introduce">
            <div class="index_main_introduce_text">資訊查詢：最新報價、相關新聞、最佳討論預測人排行、預測討論</div>
            <img src="{% static 'gif/03.gif' %}">
        </div>
        <div class="index_main_introduce">
            <div class="index_main_introduce_text">排行榜：最佳討論預測、人氣、活躍</div>
            <img src="{% static 'img/index_rank.png' %}" >
        </div>
    </div>
</div>
{% endblock %}